/* Custom Fonts */
@font-face {
  font-family: stitchFont;
  src: url(../fonts/STITCH.TTF);
}

@font-face {
  font-family: slinkedFont;
  src: url(../fonts/Slinked.ttf);
}

@font-face {
  font-family: mixStitchFont;
  src: url(../fonts/MixStitch.ttf);
}

.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

@media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

.login_bg{
	background-image: url(../img/logbg2.jpg);
	background-repeat: no-repeat;
  	background-size: 100% auto;
	background-attachment:fixed;
	background-blend-mode: difference;
	background-color:#003;	
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.login_bg{
	background-image: none;
	background-color:#6A5413;
	background-blend-mode: none;	
	}
}

.wht_txt{
	color:white;
}

.responsive {
  width: 100%;
  height: auto;
}

.bg-dark {
    background-color: rgba(52, 58, 64, 0.4)!important;
}
.fleft{float:left;}
.fright{float:right;}
.scroll_auto{overflow:auto;}
.margleft{margin-left:5px;}
.mtop{margin-top: 20px;}

.my-custom-scrollbar {
  position: relative;
  height: 250px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}
.form-label-group > input,.form-label-group > textarea,
.form-label-group > label {
  height: 3.125rem;
  padding: .75rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder,.form-label-group textarea::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder,.form-label-group textarea:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder,.form-label-group textarea::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder,.form-label-group textarea::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder,.form-label-group textarea::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown),.form-label-group textarea:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label,.form-label-group textarea:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder,.form-label-group textarea::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder,.form-label-group textarea:-ms-input-placeholder {
    color: #777;
  }
}













/* Style the links inside the sidenav for advertisement image */
#mySidenav a {
  position: fixed; /* Position them relative to the browser window */
  top: 50%;
  right: -60px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  right: 215px; /* On mouse-over, make the elements appear as they should */
}


